:root { 
    --m-0 : 0; 
    --m-0-5 : 5px; 
    --m-1 : 6px;
    --m-1-5 : 9px;
    --m-2 : 10px;
    --m-3 : 11px;
    --m-4 : 12px; 
    --m-5 : 16px; 
    --m-6 : 18px;
    --m-7 : 20px; 
    --m-8 : 22px;
    --m-9 : 24px;
    --m-12 : 40px;
    --m-13 : 60px;
    --m-14 : 100px;
    --m-15 : 120px;
    --m-16 : 140px; 

    --p-0 : 0;
    --p-0-5 : 5px; 
    --p-1 : 6px;
    --p-1-5 : 9px;
    --p-2 : 10px;
    --p-3 : 11px;
    --p-4 : 12px; 
    --p-4-5 : 14px;
    --p-5 : 16px; 
    --p-6 : 18px;
    --p-7 : 20px; 
    --p-8 : 22px;
    --p-9 : 24px;
    --p-12 : 40px;
    --p-16 : 140px; 

    --br-1 : 2px; 
    --br-1-5 : 3px;
    --br-2 : 4px;
    --br-3 : 6px; 
    --br-4 : 9px; 
    --br-5 : 12px;
    --br-6 : 16px;
}