:root { 
    --m-0 : 0; 
    --m-0-5 : 5px; 
    --m-1 : 6px;
    --m-2 : 10px;
    --m-3 : 11px;
    --m-4 : 12px; 
    --m-5 : 16px; 
    --m-6 : 18px;
    --m-7 : 20px; 
    --m-8 : 22px;
    --m-9 : 24px;
    --m-12 : 40px;
    --m-16 : 140px; 
    --p-0 : 0;
    --p-1 : 9px; 
}