.dashboard-card {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding: var(--p-1) var(--p-0);
    border: var(--border-st);
    border-radius: var(--br-5);
    box-shadow: var(--shadow-st);
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    margin-bottom: var(--m-6);
    background-color: white;
}

/* Image sectiin of the card */
.dashboard-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.dashboard-img-container {
    width: 60px;
    height: 60px;
}

.dashboard-img { 
    height: var(--h-full);
}

/* Title section of the card */

.dashboard-title {
    font-family: RaleWay;
    font-size: var(--sub-heading-md);
    font-weight: bold;
    color: var(--black);
    margin: var(--m-0);
    margin-bottom: var(--m-1);
}

/* Content section of the card */
.dashboard-content {
    color: var(--black);
    font-size: var(--text-sm);
    font-family: Montserrat;
    margin: var(--m-0);
}

