aside { 
    left: -100%;
    position: absolute;
    transition: ease-in-out;
    transition-duration: 500ms;
    z-index: 1000;
    background-color: var(--gray-white);
}

.side-bar { 
    font-family: Montserrat;
    border: var(--border-st);
    border-radius: var(--br-6);
    box-shadow: var(--shadow-st);
    padding: var(--p-5);
}

/* Profile section of the side bar */
.side-bar-profile-container { 
    margin-top: var(--m-2);
}

.side-bar-profile,
.side-bar-page { 
    display: flex;
    align-items: center;
}

.profile-title { 
    font-size: var(--heading-sm);
    font-weight: var(--fw-bold);
    margin: var(--m-0);
}

/* Page section of the side bar */
.side-bar-page { 
    background: var(--primary-200);
    border-radius: var(--br-3);
}

.side-bar-img-container { 
    width: 62px;
    height: 62px;
    border: var(--border-sm);
    border-radius: 50%;
    margin-right: var(--m-2);
}

.page-title { 
    font-size: var(--sub-heading-sm);
    font-weight: var(--fw-semibold);
    margin: var(--m-6) var(--m-0);
}

.side-bar-page-icon-container { 
    width: 24px;
    height: 24px;
    margin: 0 var(--m-2) var(--m-1) var(--m-2);
}

.side-bar-page-icon-container >  img , 
.side-bar-img-container > img { 
    width: var(--w-full);
    height: var(--h-full);
}

.side-bar-page-container { 
    margin: auto;
    margin-top: var(--m-12);
    width: 90%;
}

/* Dashboard section of the side bar */
.dashboard-container { 
    width: 90%;
    margin: auto;
    margin-top: var(--m-14);
}
.dashboard-container-title { 
    font-family: RaleWay;
    text-align: left;
}

#dashboard { 
    width: var(--w-full);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width : 429px) { 
    .side-bar { 
        width: 70%;
        height: 739px;
        top: 8%;
        margin-left: var(--m-1-5);
    }
}

@media (min-width : 430px) { 
    .side-bar { 
        width: 320px;
        height: 739px;
        top: 12%;
        margin-left: var(--m-1-5);
    }
}
@media  (min-width : 1025px) {
    aside{
        position: relative;
    }

    #hamburger { 
        display: none;
    }

    #side-bar-close { 
        display: none;
    }

    .side-bar { 
        top: auto;
        margin-left: var(--m-0);
    }
    
    aside {
        z-index: 998;
    }
}



