@import url(./components.css);

body { 
    margin: var(--m-0);
    padding: var(--p-0);
}


/* HERO SECTION */

.container { 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.start-link { 
    text-decoration: none;
}

.start-link:hover, .start-link:active {
    color: var(--pearl-white);
}

.start-button { 
    font-family: Montserrat;
    border-radius: 6px;
    border: 2px solid var(--secondary-400);
    color: var(--secondary-400);
    background-color: var(--pearl-white);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px var(--secondary-800);
    font-weight: var(--fw-semibold);
}

.start-button:hover { 
    background-color: var(--secondary-300);
    color: white;
    box-shadow: 0 15px 25px var(--secondary-700);
    transform: translateY(-3px);
}

.start-button:active {
    color: white;
    background-color: var(--secondary-600);
    box-shadow: 0 5px 10px var(--secondary-800);
    transform: translateY(1px);
}

.img-inner-container > img { 
    width: var(--w-full);
    height: var(--h-full);
}

.detail-container { 
    text-align: center;
}

.detail-heading { 
    font-family: RaleWay;
    letter-spacing: var(--spacing-sm);
}

.detail-sub-heading { 
    font-family: Montserrat;
}

.hero-container { 
    display: flex;
    justify-content: center;
    margin-top: var(--m-12);
    flex-grow: 1;
}

.hero-inner-container { 
    display: flex;
}

.heading-purple {
    color: var(--secondary-400);
}

.detail-container { 
    margin-left: auto;
    margin-right: auto;
}


@media (max-width : 390px) { 
    .img-inner-container { 
        max-width: 380px;
        max-height: 380px;
    }
    .detail-heading { 
        font-size: var(--heading-sm);
        margin: var(--m-5);
    }
    .detail-sub-heading { 
        font-size: var(--sub-heading-sm);
        margin: var(--m-5);
    }
    .start-button { 
        width: 100px;
        height: 42px;
        letter-spacing: var(--spacing-sm);
        font-size: var(--sub-heading-sm);
    }
    .hero-inner-container { 
        flex-direction: column;
    }
    .img-inner-container { 
        margin-left: var(--m-0-5);
        margin-right: var(--m-0-5);
    }
}

@media (min-width: 391px) and (max-width : 1024px) { 
    .img-inner-container { 
        max-width: 720px;
        max-height: 720px;
    }
    .detail-heading { 
        font-size: var(--heading-base);
        margin: var(--m-7);
    }
    .detail-sub-heading { 
        font-size: var(--sub-heading-md);
        margin: var(--m-7);
    }
    .start-button { 
        width: 130px;
        height: 50px;
        letter-spacing: var(--spacing-md);
        font-size: var(--sub-heading-md);
    }
    .button-container { 
        margin: var(--m-6);
    }
    .hero-inner-container { 
        flex-direction: column;
    }
    .detail-container { 
        max-width: 640px;
    }
}

@media (min-width : 1025px) { 
    .img-inner-container { 
        min-width: 680px;
        min-height: 680px;
        max-width: 800px;
        max-height: 800px;
    }
    .detail-heading { 
        font-size: var(--heading-lg);
        margin: var(--m-7);
    }
    .detail-sub-heading { 
        font-size: var(--sub-heading-lg);
        margin: var(--m-7);
    }
    .start-button { 
        width: 150px;
        height: 56px;
        letter-spacing: var(--spacing-md);
        font-size: var(--sub-heading-lg);
    }
    .button-container { 
        margin: var(--m-7);
    }
    .hero-inner-container { 
        flex-direction: row;
    }
    .detail-container { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 660px;
    }
    .img-inner-container { 
        margin-top: var(--m-16);
    }
    .hero-container { 
        margin-top: var(--m-0);
    }
}
