/* NAV-BAR SECTION */
.nav-container { 
    display: flex;
    justify-content: center;
}

.nav-inner-container { 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-container { 
    display: flex;
    flex-direction: column;
}

.logo-heading { 
    font-family: Raleway;
    font-weight: 600;
    margin: 0;
    color: #2C2C2C;
    letter-spacing: 3px;
}

.logo-sub-heading {
    font-family: Montserrat;
    font-weight: 400;
    margin: 0;
    color: #2C2C2C;
}

.nav-right-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about { 
    font-family: Montserrat;
    text-decoration: none;
    color: #2C2C2C;
    font-weight: 400;
}

.about:hover { 
    text-decoration: underline;
    font-weight: 500;
}
.purple-sub-heading { 
    color: #9747FF;
}

.nav-inner-container { 
    margin: 0;
    width: 90%;
}

/* RESPONSIVE FOR MOBILE */

@media (max-width : 390px) { 
    .nav-container { 
        margin-top: 10px;
    }
    .logo-heading { 
        font-size: 23px;
        letter-spacing:  2px;
    }
    .logo-sub-heading { 
        font-size: 11px;
        margin-left: 20px;
    }
    .about { 
    font-size: 11px;
    }
}

/* RESPONSIVE FOR TABLET */
@media (min-width : 391px) and (max-width : 1024px) { 
    .nav-container { 
        margin-top: 20px;
    }
    .logo-heading { 
        font-size: 27px;
    }
    .logo-sub-heading { 
        font-size: 14px;
        margin-left: 22px;
    }
    .about { 
        font-size: 14px;
    }
}

/* RESPONSIVE FOR LAPTOP-DESKTOP */
@media (min-width : 1025px) { 
    .nav-container { 
        margin-top: 20px;
    }
    .logo-heading { 
        font-size: 32px;
    }
    .logo-sub-heading { 
        font-size: 16px;
        margin-left: 24px;
    }
    .about { 
        font-size: 16px;
    }
}
