@import url(./components.css);
body { 
    margin: var(--m-0);
    padding: var(--p-0);
}

.homepage-container {  
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.plus-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body-container { 
    display: flex;
    margin-top: var(--m-13);
    flex-grow: 1;
    position: relative;
}

.cards-container { 
    display: grid;
}

.diary-container{ 
    margin: var(--m-0) var(--m-12);
    flex-grow: 1;
}

#hamburger { 
    height: 46px;
    cursor: pointer;
    margin: var(--m-12) var(--m-0);
    background-color: var(--gray-white);
    border-radius: var(--br-3);
}

#hamburger > img {
    margin: var(--m-2);
}

@media (max-width : 490px) { 
    .cards-container { 
        grid-template-columns: repeat(1, 1fr);
    }
    .diary-container { 
        margin: var(--m-0);
    }
    .body-container { 
        flex-direction: column;
        margin: var(--m-0);
    }
}

@media (min-width : 491px) and (max-width : 1024px) { 
    .cards-container { 
        grid-template-columns: repeat(2, 1fr);
    }
    .diary-container { 
        margin: var(--m-0);
    }
    .body-container { 
        flex-direction: column;
        margin: var(--m-0);
    }
}

@media (min-width : 1025px) and (max-width : 1400px) { 
    .cards-container { 
        grid-template-columns: repeat(2, 1fr);
    }
    .body-container { 
        flex-direction: row;
    }
}

@media (min-width : 1401px) { 
    .cards-container { 
        grid-template-columns: repeat(3, 1fr);
    }
    .body-container { 
        flex-direction: row;
    }
}